snippet frac ""
\frac{$1}{$2}
endsnippet

snippet sub ""
\subsection{$1}
endsnippet

snippet subsub ""
\subsubsection{$1}
endsnippet

snippet sec ""
\section{$1}
endsnippet

snippet textbf ""
\textbf{$1}
endsnippet

snippet par ""
\par 

endsnippet

